<div class="container text-center">
    <div class="container mt-5 mb-5">
        <h1 class="display-4">Patient registry</h1>
    <p class="lead">This page will help you to make a record of your patients, adding the most important data such as their last names, first names, gender, specialty and their photo.</p>
    </div>
    <img src="https://images.vexels.com/media/users/3/153835/isolated/preview/172ddc045ae1707a415adeae0543a5f0-icono-de-trazo-de-color-del-paciente.png" alt="Imagen 1" class="img-fluid">
    <div>
      <a href="/patients" class="btn btn-primary">Register</a>
      <button type="button" class="btn btn-secondary">About</button>
    </div>
  </div>